.weather-box {
  background-color: #c5e4b2;
  text-align: center;
  border-radius: 15px;
  margin-top: 5em !important;
}

h1 {
  font-size: 5em !important;
  font-weight: normal;
  margin-bottom: .3em;
}

h4 {
  margin-top: .3em;
}
