body{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 30em) { 
  body{
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 50em) { 
  body{
    grid-template-columns: repeat(4, 1fr);
  }
}